
#header {
    position: left;
    padding: 20px;
    left: 50px; 
    display: block;
    width: 850px;
    height: 200px;
    background-color: lightgrey;
    font-color: #ffffff;
    text-align: center;
}


#cities {
    left: 30px;
    border-style: solid;
    border-width: medium;
    display: block;
    width: 400px;
}

#body {
    position: relative;
    left: 30px;
    border-style: solid;
    border-width: medium;
    display: block;
    width: 200px;
    height: 500px;
    background-color: white;
    font-color: #ffffff;
    text-align: center;

}

.p {
    position: absoulute;
    right: 30px;
    display: block;
    font-color: #ffffff;
    text-align: center;


}




}


.item {
    
    width: 100px;
    height: 100px;
    margin: 10px;
    
}

