<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>09-WeatherApp</title>

		<body ng-controller="WeatherController as vm">
	</head>
  
  	<body style='margin-top:50px;margin-left:50px;margin-right:50px;'>




	    <script src="bower_components/jquery/dist/jquery.js"></script>
	    <script src="bower_components/angular/angular.js"></script>
	    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	    <script src="bower_components/toastr/toastr.js"></script>
	    <script src="/app/app.js"></script>
	    <script src="/app/weather.controller.js"></script>
	    <script src="/app/weather.service.js"></script>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	    <link href="app/styles/style.css" rel="stylesheet">





		<div class="container">
			<div class="jumbotron" style="background-image: url(img/boat.jpg); background-size: 100%;">
				<h1 style = 90px>
					Origin Weather Application
				</h1>
				<h4>
					Now with 20% more El Niňo!
				</h4>
			</div>
		</div>	
					

		<div>	


		

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
<!-- default city button -->						
						<div class="btn-group btn-group-sm">
        					<button class="btn btn-primary" ng-repeat="city in vm.defaultCities" ng-click="vm.displayWeather(city.id)">
            					{{San Diego}}
       						</button>
<!-- default city button -->						      						 
        					<button class="btn btn-primary" ng-repeat="city in vm.defaultCities" ng-click="vm.displayWeather(city.id)">
            					{{New York}}
       						</button>
<!-- default city button -->
        					<button class="btn btn-primary" ng-repeat="city in vm.defaultCities" ng-click="vm.displayWeather(city.id)">
            					{{Washington D.C.}}
       						 </button>
<!-- default city button -->       						 
        					<button class="btn btn-primary" ng-repeat="city in vm.defaultCities" ng-click="vm.displayWeather(city.id)">
            					{{London}}
       						 </button>
<!-- default city button -->       						 
        					<button class="btn btn-primary" ng-repeat="city in vm.defaultCities" ng-click="vm.displayWeather(city.id)">
            					{{Tokyo}}
       						 </button>
						</div>
					</div>
				</div>
			</div>
		</div>

							
								


		<div class="container-fluid">
				<div class="row">
			        <div class="col-md-14">				    		
			            <div id="custom-search-input">
			                <div class="input-group col-md-12">
<!-- Input for query -->

						<div class="row">
						  <div class="col-xs-5">
						    <input type="text" class="form-control" placeholder="city" ng-model="cityQuery">
						  </div>
						  <div class="col-xs-5">
						    <input type="text" class="form-control" placeholder="country" ng-model="countryQuery">
						  </div>
                				<button class="btn btn-default" type="button" ng-click="vm.getMatches(cityQuery, countryQuery)">
	                            	<i class="glyphicon glyphicon-search">
	                            	</i>
                            	</button>
                    	</div>
					​
<!-- List of all the cities that match the query -->
						<div class="row">
					    	<div class="col-xs-5" ng-repeat="city in vm.citySelection | limitTo:10" ng-click="vm.select(city)">
					        	{{city.name}}
					    	</div>
					    	<div class="col-xs-5" ng-repeat="city in vm.citySelection | limitTo:10" ng-click="vm.select(city)">
					        	{{city.country}}
					    	</div>
					    	<br>
	            		</div>
	        		</div>
				</div>
			</div>
		</div>
	</div>


    </div>
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5">
                <div class="panel panel-info">
                    <div class="panel-heading">City Information</div>
                    <div class = "panel-body">
	      		<div>
				<h1 style="text-align:center;">
 <!-- Output icon -->
 					<img src={{vm.weather.icon}}/>
					City: {{vm.weather.city}}<br>
				</h1>
				</div>
			<div> 
			<br>
				<h5 style="color:darkblue;">
<!-- Output -->				
				Lat/Long: {{vm.weather.lat}}, {{vm.weather.lng}}
				</h5>
			</div>
		
			
			<div class="row">
				<div class="col-md-4">
					<h4>
<!-- Output -->	
						Temperature:{{vm.weather.temperature}}(F)
					</h4>
				</div>
				<div class="col-md-4">
					<h4>
<!-- Output -->	
						Pressure:{{vm.weather.pressure}}<br>
					</h4>
				</div>
				<div class="col-md-4">
					<h4>
<!-- Output -->
						Humidity:{{vm.weather.humidity}}
					</h4>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-4">
					<h4>
<!-- Output -->
						Low:{{vm.weather.lowestTemp}} (F)
					</h4>
				</div>
				<div class="col-md-4">
					<h4>
<!-- Output -->
						High:{{vm.weather.highestTemp}} (F)
					</h4>
				</div>
				<div class="col-md-4">
					<h4>
<!-- Output -->
						Wind Speed:{{vm.weather.windSpeed}} mph
					</h4>
				</div>
	   		</div>
		</div>

                    </form>
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7">
                <div class="panel panel-info">
                    <div class="panel-heading">Search History</div>
<!-- list of past searches     -->		   
		   <div class = "panel-body">
				<table class="table">
					<tbody>
						<tr ng-repeat="city in vm.pastSearches" ng-click="vm.displayWeather(city._id)" ng-class="{active: ($index % 2 == 0)}">
                           <td>
                               {{city.name}} 
                            </td>
                            <td>
							</td>
							<td>
								{{city.accessed.date}}
							</td>
							<td>
                               {{city.accessed.time}}
                           </td>
                       </tr>
						<tr class="active">
							<td>
							</td>
							<td>
							</td>
							<td>
							</td>
							<td>
							<td>
							</td>
						</tr>
			
				
				</table>
			</div>
		</div




                </div>
            </div>
        </div>
    </div>
</div>





</body>

</html>